.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 400;
  text-transform: none;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial;
  color: #000;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 6px 25px;
  color: #fff;
  background-color: #333;
}

.menuGroupActions {
  display: flex;
  justify-content: space-between;
}

.playerContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: #333;
}

.player {
  height: auto;
  border-top: 1px solid #ddd;
  color: #fff;
}
