.container {
  display: flex;
  justify-content: flex-end;
}

.searchBox {
  padding: 2em;
}

.searchInput {
  font-weight: 400;
  background-color: transparent;
  font-size: 14px;
  box-sizing: border-box;
  text-transform: none;
  padding: 6px 2px;
  border: none;
  border-bottom: 1px solid #333;
  caret-color: #333;
  min-width: 249px;
}

.searchInput:focus {
  border-bottom: 1px solid #333;
  text-transform: none;
  outline: none;
}
