.trackListItem {
  display: grid;
  padding: 1em;
  cursor: pointer;
  grid-template-columns: 2em 2em repeat(auto-fit, minmax(100px, 1fr));
}

.trackListItem:hover {
  background-color: #ddd;
}

.trackListItemSelected {
  background-color: #ddd;
}

.trackTitle {
  font-weight: 600;
}

.trackNumber {
  font-feature-settings: "tnum";
  letter-spacing: 0;
  text-align: right;
  padding-right: 1rem;
}

.trackIcon {
  color: #000;
  opacity: 0.5;
  padding-right: 1rem;
}

.trackActions {
  justify-self: flex-end;
  display: flex;
}

